.header {
  background-color: #0e1014;
  min-height: 60px;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0;
}

.header p {
  margin: 0;
  font-size: 30px;
}

.nav {
  background-color: #1d2026;
  min-height: 40px;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  color: white;
  margin: 0;

}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  margin-right: 90px;
  text-decoration: none;
  font-size: 20px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:active {
  text-decoration: underline;
  background-color: #808690;
}

.nav a:hover {
  text-decoration: underline;
  background-color: #7a7f88;
}

body {
  background-color: #373a42;
  color: white;
}

.form {
  background-color: #3f4554;
  min-height: 100px;
  justify-content: space-between;
  align-items: stretch;
  text-align: top;
  color: white;
  margin: 0;

}

.form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form li {
  margin-right: 90px;
  text-decoration: none;
  font-size: 20px;
}

.form input, textarea {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #3f4554;
}

.text-box img {
  float: right;
  margin: 10px;
  border-radius: 10px;
}

.text-box {
  padding: 20px;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.movie {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #3f4554;
}

.movie-imgFile {
  width: 200px;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  background-size: cover; /* Cover the entire container with the background image */
  background-position: center; /* Center the background image */
  overflow: hidden; /* Hide any overflow beyond the container */
}

.booking {
  background-color: #1d2026;
  min-height: 100px;
  justify-content: space-between;
  align-items: stretch;
  text-align: top;
  color: white;
  margin: 25px;

}

.banner {
  min-height: 60px;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0;
}

.banner img {
  width: 100%;
  max-height: 55%;
  size: 50%;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}

.time-selection {
  min-height: 100px;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  color: white;
  margin: 0;
}

.time-selection button {
  width: 80px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  background-color: #898d99;
  color: white;
}




.booking-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 0;
  list-style-type: none;
  background-color: #1d2026;

}

.ticket-selection {
  min-height: 100px;
  justify-content: space-between;
  align-items: stretch;
  text-align: left;
  color: white;
  margin: 0;
}

.ticket-selection li {
  display: flex;
  margin-right: 90px;
  text-decoration: none;
  font-size: 20px;
}

.ticket-selection button {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #9599a5;
  color: white;
}

.seat-selection {
  min-height: 100px;
  justify-content: space-between;
  align-items: right;
  text-align: top;
  color: white;
  margin: 0;
}

.seat-selection img {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
}

.seat-selection li {
  display: flex;
  margin-right: 90px;
  text-decoration: none;
  font-size: 20px;
}

.selected {
  background-color: #4CAF50 !important; /* Green */
  color: white !important;
}